@import (reference) '../../../../styles/antd';
@import (reference) '../../../../styles/mixins';

.am-google-login-btn {
  .oauth-button();
  background-color: @color-white;
  color: @color-black-text;
}
