@import (reference) '../../../../styles/antd';
@import (reference) '../../../../styles/mixins';

.am-facebook-login-btn {
  .oauth-button();
  background-color: @color-blue-fb;
  color: @color-white;
}
