@import (reference) '../../../styles/antd';
@import (reference) '../../../styles/shortcodes';
@import (reference) '../../../styles/variables';

.am-login {
  background-color: @color-grey-dark;
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
  overflow: hidden;

  &__content {
    width: 100%;
    max-width: 421px;
    padding: 26px 20px 60px 20px;
    border: none;
    border-radius: 20px;
    background-color: #12171e;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    @media @small {
      padding: 26px 40px 60px 40px;
    }
  }

  &__step {
    background-color: @color-white;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    margin: 0 6px;

    &.active {
      background-color: @color-blue-dodgerBlue;
    }
  }
}

.am-social-login {
  &__title {
    color: @color-white;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 26px;
  }

  &__divider-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid @color-normal-grey;
    line-height: 0;

    &-text {
      background: @color-grey-dark;
      color: @color-normal-grey;
      padding: 0 23px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.03em;
    }
  }
}

.am-login-profile-info {
  &__input-label {
    color: @color-light-grey;
    font-family: @font-roboto-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-top: 23px;
  }

  &__input.ant-input {
    background: none;
    border: 1px solid @color-normal-grey;
    border-radius: 5px;
    color: @color-white;
    padding: 10px 20px;
    font-size: 18px;
    font-family: @font-roboto-sans;
    font-style: normal;
    font-weight: bold;
  }

  &__checkbox {
    padding: 24px 0 28px 0;
    &-input {
      width: 24px;
      height: 24px;
      border: 1px solid #4285F4;
      border-radius: 4px;
    }
    &-label {
      color: @color-light-grey;
      font-family: @font-roboto-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.05em;
      line-height: 104.84%;
      padding-left: 12px;
    }
  }

  &__checkbox-label {
    color: @color-light-grey;
    font-family: @font-roboto-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 104.84%;
    padding-left: 12px;
  }

  &__button.ant-btn {
    height: 64px;
    border-radius: 5px;
    span {
      font-family: @font-roboto-sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }
}
