.am-layout {
  &__header {
    position: fixed;
    z-index: 1;
    width: 100vw;
    &.ant-layout-header {
      padding: 0 30px;
    }
  }
  &__content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    &.shift {
      padding: 64px 0 0 0;
    }
  }
}
