@import "~antd/dist/antd.less";

// color constants
@color-white: #fff;
@color-white-shadow: rgba(0, 0, 0, 0.05);
@color-white-darker: #f9f9f9;
@color-white-gainsboro: #e9e7e7;
@color-white-ghostWhite: #fafbfc;
@color-white-smoke: #f2f2f2;
@color-black: #000;
@color-black-text: #171D26;
@color-red: #d9534f;
@color-red-light: #ff7a76;
@color-red-danger: #f5222d;
@color-orange: #f6a623;
@color-orange-hot: #f87007;
@color-orange-light: #f87707;
@color-neon-carrot: #ff9130;
@color-green-darker: #30b580;
@color-green: #54d2a0;
@color-baby-blue: #4aa4ff;
@color-blue-fb: #315D99;
@color-blue-dodgerBlue: #4285F4;
@color-blue-vivid: #1972f5;
@color-blue-navyBlue: #79b8ff;
@color-blue-botticelli: #99aab5;
@color-blue-hawkesBlue: #e7e9f5;
@color-blue-linkWater: #c2ccd3;
@color-blue-darkGrayish: #32373c;
@color-blue-baliHai: #8798a4;
@color-blue-heather: #a1afba;
@color-blue-solitude: #f5f6f9;
@color-blue-deepSkyBlue: #00aced;
@color-blue-pattensBlue: #f3f6fa;
@color-teal: #5bc0de;
@color-normal-grey: #636971;
@color-grey-mortar: #595959;
@color-grey-nightRider: #303030;
@color-grey-darkGrey: #9d9d9d;
@color-light-grey: #b3b9c1;
@color-grey-gondola: #353535;
@color-grey-nero: #24292e;
@color-grey-dark: #12171e;
@color-grey-empress: #777676;

@primary-color: @color-blue-dodgerBlue;
@secondary-color: @color-blue-navyBlue;
@tertiary-color: @color-blue-botticelli;
@quaternary-color: @color-grey-mortar;

@font-roboto-sans: Roboto, sans-serif;
