@import (reference) './antd';
@import (reference) './variables';

.oauth-button() {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: none;
  border-radius: 5px;
  height: 64px;
  width: 100%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  & > img {
    margin-right: 15px;
    height: 36px;
    width: 36px;
  }

  @media @xsmall {
    font-size: 14px;
  }
  @media only screen and (min-width: 400px) {
    font-size: 16px;
  }
}
